html {
    position: relative;
    min-height: 100%;
}

body {
    background: lightblue;
    margin-bottom: 50px;
}

.container-fluid {
    padding-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #337ab7;
    text-align: center;
}

.footer-text {
    padding-top: 15px;
    font-weight: bold;
    color: black;
}

#add-movie {
    padding-left: 175px;
    padding-right: 175px;
}

#edit-movie {
    padding-left: 175px;
    padding-right: 175px;
}

#title-header {
    text-align: center;
    font-weight: bold;
}

#home-link {
    text-decoration: none;
    color: #337ab7;
}

.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 25px;
}

.date-watched {
    white-space: nowrap;
}

.sortable-column {
    white-space: nowrap;
}

.button-spacing {
    margin-bottom: 7px;
}

.error-message {
    color: red;
    font-style: bold;
}

#random-movies-table {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

#random-movies-table td {
    padding: 50px;
}

#manage-directors {
    padding-left: 150px;
    padding-right: 150px;
}

.add-directors-dev {
    background-color: white;
    width: 375px;
    height: 180px;
    overflow-y: scroll;
    margin-bottom: 5px;
}

#edit-movie-photo-file {
    color: transparent;
}

.center {
    text-align: center;
}